# IDE
.idea/
*.iml
.vscode/

# Frontend
node_modules/
dist/

# Backend
target/

# Environment & Secrets
.env
.env.*
!.env.example
application.yml
application-*.yml
!application-example.yml

# Logs
*.log

# Redis
dump.rdb

# OS
.DS_Store
Thumbs.db
